body{
    font-family: 'Joan', serif;

}
.banner-container{

    background-color: rgb(213, 131, 175);
}
.banner-column{
    background-color: rgb(205, 40, 128);
}
.navbar-container{
    background-color: rgb(37, 32, 32);
}
.typing::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #4FC3F7;
    animation: cursorBlink 0.8s steps(3) infinite;
}

@keyframes cursorBlink {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.typing {
    position: relative;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #3333);
}

.typing h2 {
    position: relative;
    color: #4FC3F7;
    letter-spacing: 5px;
    font-size: 4rem;
    overflow: hidden;
    margin-bottom: 0;
    animation: type 5s steps(11) infinite;
}

@keyframes type {

    0%,
    100% {
        width: 0px;
    }

    30%,
    60% {
        width: 394.09px;
    }
}

@media(max-width: 330px) {
    .typing h2 {
        font-size: 3rem;
        animation: type 5s steps(10) infinite;
    }

    @keyframes type {

        0%,
        100% {
            width: 0px;
        }

        30%,
        60% {
            width: 305px;
        }
    }
}
.about-container{
    background-color: #4ff7f7;
}